.team {
  @include section(60px, 60px);

  @media screen and (min-width: 1200px) {
    @include section;
  }

  background-color: var(--secondary-bg-c);
}

.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team__item {
  display: block;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 3 * 30px) / 4);
  }

  background-color: var(--primary-bg-c);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.team__label {
  margin-top: 30px;
}

.team__title {
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__subtitle {
  font-size: 16px;
  line-height: 1.19;
}
