:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --primary-bg-c: #ffffff;
  --secondary-bg-c: #f5f5f5;
  --button-bg-c: #f5f4fa;
  --button-hover-color: #188ce8;
  --links-primary-color: #afb1b8;
  --transition-effect: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --border-radius: 4px;
}